<style>
.nlogo
{
    position: absolute;
    top:4vw;
    right:3.25vw;
    color:red;
    font-family: "Nintender";
    font-size: 2.125vw;
    
}
</style>
<div class="cont-outer">
    <div class="cont-inner">
        <div class="d-pad conColumn">
            <div class="d-pad-wrapper">
                <div class="d-hor d-all">     
                </div>
                <div class="d-ver d-all">
                    <div class="d-dent"></div>
                    <div class="d-arrow aOne"></div>
                    <div class="d-arrow aTwo"></div>
                    <div class="d-arrow aThree"></div>
                    <div class="d-arrow aFour"></div>
                </div>
                <div class="d-hor-out d-all"></div>
                <div class="d-ver-out d-all"></div>
            </div>
            
        </div>
        <div class="start-select conColumn">
            
                <div class="cntrPtrns">
                    <div class="pttrn ptrnOne"></div>
                    <div class="pttrn ptrnTwo"></div>
                    <div class="pttrn ptrnThree">
                        <label for="start" class="cntrLabel lblStrt">START</label>
                        <label for="select" class="cntrLabel lblSlct">SELECT</label>
                    </div>
                    <div class="pttrn ptrnFour"></div>
                  
                </div>
                <div class="out-st-slct">
                    <div class="innr-srt-slct">
                        <div class="startBut cntrButtns"></div>
                        <div class="slctBut cntrButtns"></div>
                    </div>
                </div>
            
        </div>
        <div class="ab-buttons conColumn">

            <div class="compLabel">
                <label for="nintendo" class="nlogo">Nintendo</label>
                <span>&#174; </span>
            </div>
            <div class="buttSection">
                <div class="buttonB butts">
                    <div class="redButt redBtOne" name="redBtOne"></div>
                    <label for="redBtOne" class="redButB">B</label>
                </div>
                <div class="buttonA butts">
                    <div class="redButt redBtTwo"  name="redBtTwo"></div>
                    <label for="redBtTwo" class="redButA">A</label>
                </div>
            </div>
        </div>
    </div>
</div>