<div class="dPad-cont d-pad1-BG">
    <div class="dpadBg">
      <div class="hor"></div>
      <div class="ver"></div>
    </div>
    <div class="dpadBg-2">
      <div class="hor"></div>
      <div class="ver"></div>
    </div>
  
    <!-- Arrows--->
    <div class="d-pad top">
        <span class="arrow"></span><div class="d-t-leg leg"></div>
    </div>
    <div class="d-pad right">
        <span class="arrow"></span><div class="d-r-leg leg"></div>
    </div>
    <div class="d-pad left">
        <span class="arrow"></span><div class="d-l-leg leg"></div>
    </div>
    <div class="d-pad bottom">
        <span class="arrow"></span><div class="d-b-leg leg"></div>
    </div>
    <div class="d-pad center">
      <div class="d-center"></div>
    </div>
  </div>
  